* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  min-width: 100%;
  line-height: 1.3;
}
 .carousel-inner img {
    width: 100%;
    height: 100%;
    float: right;
  }
  #map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
}

@media screen and (max-width: 600px) {
.column.left, .column.right {
  min-width: 100%; 
  float: none;
  }
}

@media screen and (max-width: 800px) {
 #topnav, #topnav a {
    float: none;
    width: 100%;
  }
}

h1 {
  font-family: "TT norms", sans-serif; /*Georgia, Times, "Times New Roman", serif;*/
  font-size: 2em;
  color: black;
  font-weight: lighter;
}

h2 {
  font-family: "TT norms", sans-serif; /*Georgia, Times, "Times New Roman", serif;*/
  font-size: 1.5em;
  color: black;
  margin-top: 40px;
  font-weight: lighter;
}

h3 {
  font-family: "TT norms", sans-serif; /*Georgia, Times, "Times New Roman", serif;*/
  margin-top: 30px;
  margin-left: 40px;
  font-weight: lighter;
}

.header {
  background-color: #fffaf0;
  padding: 20px;
  text-align: left;
  display: block;
  overflow: hidden;
}
             
.columnleft {
  max-width: 40%;
}

.columnright {
  max-width: 60%;
}
.pictures {
  max-width: 100%;
  height: auto;
}

.breadcrumbStyle {
  background-color:#f1d9ad ;
}

#demo {
  float: right;
  max-width: 300px;
}

#topnav {
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EFB041;
  display: block;
}
 /* får inte till vita bokstäver när navbar är grön, vid "current" /Emma */
#topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  float: left;
  text-decoration: none; 
}

#topnav a:hover {
  background-color:#799b61;
}

#current{
  color: white;
  background-color: #516344;
  text-decoration-color: white;
 -moz-text-decoration-color: #fffaf0;
}

#footer {
  min-width: 100%;
  padding: 5px 10px 5px 10px;
  color: white;
  display: block;
  background-color: #516344;
}

#kontakt {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 200%;
  list-style-type: none;
}

#sidanstopp {
  text-align: right;
  color: snow;
}

/* unvisited link */
a:link {
  color: rgb(79, 75, 80);
}

/* visited link */
a:visited {
  color: rgb(0, 0, 0);
}

/* mouse over link */
a:hover {
  color: #eb8108;
}

/* selected link */
a:active {
  color: rgb(43, 143, 43);
